/*comments in css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #eee;
}

#page-wrapper {
    position: relative;
  }

a {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 300px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

ul {
    list-style: none;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    padding: o.5rem 0.2rem;
}

#navbar li {
    padding: 0 4rem;
}

#main-header {
    background-color: #eeeeee;
    color: #333;
}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.message-box {
    margin: 0rem;
    padding: 0.5rem;
    text-align: center;
}

.message-box h1{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.message-box input {
    display: block;
    margin: 0.4rem auto;
    width: 40%;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.btn {
    margin-bottom: 0.5rem;
    background-color: rgb(241, 196 , 15);
    padding: 0.5rem;
    max-width: 150px;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

#features {
    margin: 5rem 0rem;
    display: flex;
    flex-direction: column;
}



#features .feature {
    display: inline-flex;
    justify-self: center;
    align-items: center;
}

#icon {
    color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 14vw;
}

#feature .desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 125px;
    width: 80vw;
    padding: 30px;
}



#how-it-works {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

#pricing {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width:550px) {
    #pricing {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.price-box >ol {
    list-style-type: none;
    margin: 0.7rem;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: calc(100%/3);
    border: 1px solid #000;
    margin: .5rem;
    border-radius: 3px;

}

.price-box >h2 {
    text-transform: uppercase;
    background-color: #ddd;
    margin-bottom: 1rem;
    padding: 0.5rem 4rem;
    font-weight: 500;
    font-size: 18px;
}

.price-box >a {
    background-color: #f1c40f;
    border-radius: 3px;
    margin: 15px 6rem;
    padding: 0.4rem;
    border: 0;
    font-size: large;
}

.price-box > a:hover {
    background-color: orange;
    transition: background-color 1s;
}

footer {
    padding: 1rem;
    background-color: #ddd;
}

#footer {
    display: flex;
    justify-content:flex-end;
}

#footer >a {
    margin: 0rem 1rem;
    font-weight: 500;
}

#copyright {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    font-size: 0.9em;
    color: #444;
}
